// all

* {
    font-family: var(--ff-primary-100);
}

body {
    background-color: var(--body-bg);
    min-width: 320px;
}

// container

.container {
    max-width: 1140px;
    margin: 0 auto;
    @media (max-width: 1240px) {
        padding: 0 15px;
    }
}

// utility text color classes

.clr-primary-100 {
    color: var(--clr-primary-100);
}

.clr-neutral-100 {
    color: var(--clr-neutral-100);
}

.clr-neutral-200 {
    color: var(--clr-neutral-200);
}

.clr-neutral-300 {
    color: var(--clr-neutral-300);
}

// utility bg color classes

.bg-neutral-100 {
    background-color: var(--clr-neutral-100);
}

.bg-neutral-200 {
    background-color: var(--clr-neutral-200);
}

.bg-neutral-300 {
    background-color: var(--clr-neutral-300);
}

// hidden classes

.l-hidden {
    @media (min-width: 1024px) {
        display: none !important;
    }
}

.s-hidden {
    @media (max-width: 1023px) {
        display: none !important;
    }
}

// content-container

.content-container {
    --line: clamp(60px, 6.5vw, 100px);
    position: relative;
    padding-left: var(--line);
    @media (max-width: 1240px) {
        padding-right: 15px;
    }
    max-width: 1140px;
    margin: 0 auto;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 160px;
        height: 100%;
        width: 1px;
        background-color: var(--clr-neutral-100);
        opacity: .4;
        @media (max-width: 1240px) {
            left: 15px;
        }
        @media (max-width: 767px) {
            left: 6px;
        }
    }
    @media (max-width: 767px) {
        --line: clamp(40px, 6.5vw, 100px);
    }
}

// other

.title {
    font-weight: 700;
    font-size: clamp(28px, 4vw, 48px);
    line-height: 1.208em;
    color: var(--primary-title-clr);
    &--numbered {
        position: relative;
        &::before {
            content: attr(data-title-number);
            position: absolute;
            top: 0;
            --left: calc(var(--line) * -1);
            left: var(--left);
            font-weight: 500;
            font-size: .5em; //24px
            line-height: 1.208em;
            border-left: 3px solid currentColor;
            padding: 12px 20px;
            @media (max-width: 1439px) {
                padding: 12px 16px;
            }
            @media (max-width: 1240px) {
                left: calc(var(--left) + 15px);
            }
            @media (max-width: 767px) {
                padding: 12px 7px;
                left: calc(var(--left) + 6px);
                top: -5px;
            }
        }
    }
}

.btn {
    display: block;
    font-weight: 400;
    font-size: clamp(16px, 3vw, 22px);
    line-height: 1.18em;
    padding: 0.6818em 0.72em;
    text-align: center;
    max-width: max-content;
    border-radius: 40px;
    min-width: 11.2em;
}

.section-padding {
    &-100 {
        padding: clamp(50px, 7vw, 100px) 0;
    }
}