// all

* {
    font-family: var(--ff-primary-100);
}

body {
    background-color: var(--body-bg);
    min-width: 320px;
    padding-top: clamp(50px, 10vw, 150px);
}

html {
    scroll-padding-top: 0;
}

// container

.container {
    max-width: 1140px;
    margin: 0 auto;
    @media (max-width: 1240px) {
        padding: 0 15px;
    }
}

// utility text color classes

.clr-primary-100 {
    color: var(--clr-primary-100);
}

.clr-neutral-100 {
    color: var(--clr-neutral-100);
}

.clr-neutral-200 {
    color: var(--clr-neutral-200);
}

.clr-neutral-300 {
    color: var(--clr-neutral-300);
}

// utility bg color classes

.bg-primary-100 {
    background-color: var(--clr-primary-100);
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100);
}

.bg-neutral-200 {
    background-color: var(--clr-neutral-200);
}

.bg-neutral-300 {
    background-color: var(--clr-neutral-300);
}

// hidden classes

.l-hidden {
    @media (min-width: 1024px) {
        display: none !important;
    }
}

.s-hidden {
    @media (max-width: 1023px) {
        display: none !important;
    }
}

.hidden {
    display: none !important;
}

// content-container

.content-container {
    --line: clamp(60px, 6.5vw, 100px);
    position: relative;
    padding-left: var(--line);
    @media (max-width: 1240px) {
        padding-right: 15px;
    }
    max-width: 1140px;
    margin: 0 auto;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 160px;
        height: 100%;
        width: 1px;
        background-color: var(--clr-neutral-100);
        opacity: .4;
        @media (max-width: 1240px) {
            left: 15px;
        }
        @media (max-width: 767px) {
            left: 6px;
        }
    }
    @media (max-width: 767px) {
        --line: clamp(40px, 6.5vw, 100px);
    }
}

// other

.title {
    font-weight: 700;
    font-size: clamp(28px, 4vw, 48px);
    line-height: 1.208em;
    color: var(--primary-title-clr);
    &--mini{
        font-size: clamp(24px, 4vw, 36px);
    }
    &--numbered {
        position: relative;
        &::before {
            content: attr(data-title-number);
            position: absolute;
            top: 0;
            --left: calc(var(--line) * -1);
            left: var(--left);
            font-weight: 500;
            font-size: .5em; //24px
            line-height: 1.208em;
            border-left: 3px solid currentColor;
            padding: 12px 20px;
            @media (max-width: 1439px) {
                padding: 12px 16px;
            }
            @media (max-width: 1240px) {
                left: calc(var(--left) + 15px);
            }
            @media (max-width: 767px) {
                padding: 12px 7px;
                left: calc(var(--left) + 6px);
                top: -5px;
            }
        }
    }
}

.btn {
    display: block;
    font-weight: 400;
    font-size: clamp(16px, 3vw, 22px);
    line-height: 1.18em;
    padding: 0.6818em 0.72em;
    text-align: center;
    max-width: max-content;
    border-radius: 40px;
    min-width: 11.2em;
}

.section-padding {
    &-100 {
        padding: clamp(50px, 7vw, 80px) 0;
    }
}

.text-100 {
    font-weight: 300;
    font-size: clamp(14px, 3vw, 20px);
    line-height: 1.2em;
}

.link {
    font-weight: 400;
    font-size: clamp(18px, 2vw, 22px);
    line-height: 1.2em;
    color: var(--clr-neutral-100);
    &--pointer {
        display: flex;
        align-items: center;
        gap: .5em;
        max-width: max-content;
        &::after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='38' viewBox='0 0 36 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.2678 20.7678C36.2441 19.7915 36.2441 18.2085 35.2678 17.2322L19.3579 1.32233C18.3815 0.346018 16.7986 0.346018 15.8223 1.32233C14.846 2.29864 14.846 3.88155 15.8223 4.85786L29.9645 19L15.8223 33.1421C14.846 34.1184 14.846 35.7014 15.8223 36.6777C16.7986 37.654 18.3816 37.654 19.3579 36.6777L35.2678 20.7678ZM2.9595e-07 21.5L33.5 21.5L33.5 16.5L-2.9595e-07 16.5L2.9595e-07 21.5Z' fill='black'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            --size: 1.63em;
            width: var(--size);
            height: calc(var(--size) + 2px);
            display: block;
            transition: transform .3s;
        }
        &:hover {
            &::after {
                transform: translateX(10px);
            }
        }
    }
}