.hero {
    padding: clamp(90px, 15vw, 150px) 0;
    &-title {
        &--maxw-100 {
            max-width: 12em; //570px
        }
    }
    &-text {
        font-weight: 300;
        font-size: 20px;
        line-height: 1.2em;
        margin-top: 1.5em;
        &--maxw-100 {
            max-width: 18em; //360px
        }
    }
    &-btn {
        &--first {
            margin-top: 45px;
        }
        &--second {
            margin-top: 22px;
        }
    }
    &-wrap {
        position: relative;
    }
    &-img {
        position: absolute;
        z-index: -1;
        &--100 {
            top: -40px;
            right: -50px;
        }
    }
}