:root {
    --clr-primary-100: #2C56C1;

    --clr-neutral-100: #151515;
    --clr-neutral-200: #F8F8F8;
    --clr-neutral-300: #3D8B00;
    --clr-neutral-400: #000000;

    --ff-primary-100: 'Inter', sans-serif;
    --ff-secondary-100: 'Fira Sans', sans-serif;

    --body-bg: var(--clr-neutral-200);
    --primary-title-clr: var(--clr-primary-100);
}